# Editor directories and files
*.pyc
*.pyo
*.py[co]
*.swp
*.orig
.idea
*~
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.egg-info
*.pot
.tox/
__pycache__

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


env
logs
local_settings.py
sitemap.xml
node_modules
node_modules.tar.gz
media.tar
media.tar.gz
media.zip
db.backup
robots.txt
requirements.txt

/local/
/collect_static/*
!/collect_static/placeholder

/media/*
!/media/placeholder


.DS_Store
/dist
staticfiles
db.sqlite3

docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
tests/report/
build/